body {
  border: 4px solid blue;
  text-align: center;
  padding: 20px;
  margin: 100px;
}

/* Style for the task list container */
.task-list {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

/* Style for each task item */
.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  border-radius: 5px;
}

/* Style for completed tasks */
.task.completed {
  background-color: #4caf50; /* Green background for completed tasks */
  color: #fff; /* White text for better visibility */
}

/* Style for the disabled task input field */
.disabled-task {
  border: none;
  width: 80%;
  padding: 5px;
  margin-right: 10px;
}

.completeBtn {
  background-color: #ff5757;
  color: #fff;
  padding: 8px;
  cursor: pointer;
  margin-right: 5px;
  border-radius: 3px;
}

/* Style for the delete and edit buttons */
.deleteBtn,
.editBtn {
  padding: 8px;
  background-color: #ff5757;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-right: 5px;
  border-radius: 3px;
}

/* Hover styles for buttons */
.deleteBtn:hover,
.completeBtn:hover,
.editBtn:hover {
  filter: brightness(0.8); /* Slightly darken on hover */
}

/* Style for the error message */
.err {
  display: none;
  color: #ff5757;
  margin-bottom: 10px;
}

/* Style for the clear all button */
.clear-all {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

.clear-all:hover {
  background-color: #45a049;
}

img {
  width: 28px;
}